venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.env

campus_backend\.env


campus_backend/serviceAccountKey.json

/campus_frontend/build/
/campus_frontend/.dart_tool/
/campus_frontend/.flutter-plugins
/campus_frontend/.flutter-plugins-dependencies
/campus_frontend/.pub-cache/
/campus_frontend/.pub/
/campus_frontend/android/app/debug/
/campus_frontend/ios/.generated/

.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
desktop.ini